<div class='comments'>
  {{#each this}}
  <div class="card mb-3">
    <div class="card-header text-primary fw-bold fs-5">Posted by {{user.username}} on {{format_date created_at}}
    </div>
    <div class="card-body">
      <p>
        {{comment_text}}
      </p>
    </div>
  </div>
  {{/each}}
</div>
