   <!-- Post Form -->
      <div class="card mb-3">
        <div class="card-header text-primary fw-bold fs-5">Title
          <h6 class="text-end">Posted by on</h6>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            earum autem quidem eaque, vel officia, quo magnam ipsam perferendis
            asperiores sed et totam praesentium assumenda.
          </p>
        </div>
      </div>